.header
  h1 Imonit - Live Task Manager
.task-container
  h2 #{title}
  ul#task-list
    - each task in tasks
      - var toggleCheckPath = '/tasks/' + task._id.toHexString() + '/toggle_complete?_method=put'
      - var checkedImgSrc = (task.complete) ? '/images/checked.gif' : '/images/unchecked.png'
      li(id: task._id.toHexString())
        a(href: toggleCheckPath)
          img(src: checkedImgSrc)
        #{task.name}
  - var formPath = '/books/' + taskBook._id.toHexString() + '/tasks';
  form(action:formPath , method: 'post')
    label New Task
      input(type: 'text', name: 'task[name]')
    input(type: 'submit', title: 'Create Task')
  .footer
    |About | Blog
