h1 #{title}
.task-container
  ul#task-list
  - each task in tasks
    li #{task.name}
  form(action: '/books/#{taskBook._id}/tasks', method: 'post')
    label New Task
      input(type: 'text', name: 'task[name]')
    input(type: 'submit', title: 'Create Task')
