!!! 5
html(lang="en")
  head
    title=title
    script(src="http://cdn.socket.io/stable/socket.io.js");
    script(src="/index.js");
  body
    h1 #{title}
    .task-group-container
      ul#task-groups-list
        - each taskGroup in taskGroups
          li #{taskGroup.name}
    label New Group
    form(action: '/groups', method: 'post')
      input(type: 'text', name: 'group[name]')
      input(type: 'submit', title: 'Create Group')
